# Data Types and Stuctures

## Data Types and Structures Questions

1. What are data structures, and why are they important?


--> Data structures are the way of organizing and storing data so that it can be accessed and manipulated efficiently.
They are important as they are efficient, better problem solving and foundation for algorithms

2. Explain the difference between mutable and immutable data types with examples.

-->
Mutable means changable. Once the object is created it can be modified without a new object
EX: List, Dictionary, set

Immutable means unchangeacle. Once an immutable object is created, its value cannot be changed. If you try to change it, Python creates a new object.
EX: tuplr, Frozeset, string

3. What are the main differences between lists and tuples in Python?

--> List are mutable and uses square [] brackets while tuples are immutable and uses curve () brackets.

4. Describe how dictionaries store data?

-->Dictionaries store data in the form of key, value pair. Where keys are immutable and unique.

5. Why might you use a set instead of a list in Python?

--> Sets are used instead of because they are unordered and unique values. It doesn't allow duplicate values.

6. What is a string in Python, and how is it different from a list?

--> String is a sequence of characters that represent and manipulate textual data.

A string is immutable.

A list is a mutable.

7. How do tuples ensure data integrity in Python?

--> Tuples are Immutable

Once created, a tuple's content cannot be altered.

8. What is a hash table, and how does it relate to dictionaries in Python?

--> A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly find values based on their keys.

Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

-->Yes — lists in Python can contain different data types.

10. Explain why strings are immutable in Python?

--> Strings are used everywhere in a program — variable names, file paths, function names, messages, etc.

If strings were mutable:

Python would need to re-calculate hash values each time a string changes.This would slow down dictionary operations

By making strings immutable:

Python can cache and reuse strings safely. String operations become faster.

11. What advantages do dictionaries offer over lists for certain tasks?

--> Faster lookups: Dictionaries use hash tables, so finding a value by its key is instant.

Key-Value Pair Storage: Dictionaries let you store data in a name → value format.

No Need to Remember Index Positions: With lists, you must remember where each item is stored.

Better for Structured Data: If you want to group attributes of an item, dictionaries are perfect.

12. Describe a scenario where using a tuple would be preferable over a list?

--> Use a tuple when you need data that should remain constant, faster performance, or a hashable structure (e.g., dictionary keys).

13. How do sets handle duplicate values in Python?

--> Sets don't allow duplicates.
If you insert the same value many times, the set simply ignores the duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?

-->
“in” with Lists → Checks for VALUES: When used with a list, in checks whether an element/value is present anywhere in the list.

“in” with Dictionaries → Checks for KEYS: When used with a dictionary, in checks only the keys, not the values.

15. Can you modify the elements of a tuple? Explain why or why not.

--> No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?

-->A nested dictionary is a dictionary inside another dictionary.
It allows you to store structured, hierarchical data — like a dictionary with multiple levels.

17. Describe the time complexity of accessing elements in a dictionary.

--> Accessing elements in a Python dictionary is very fast because dictionaries use hash tables internally. Average time complexity: O(1)

18. In what situations are lists preferred over dictionaries?

-->
Use a list when:
Order matters,
duplicates are allowed,
you access items by position,
you just need a simple ordered collection.


Use a dictionary when:
you need key-value, relationships, fast lookups by key, structured data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries in Python are considered unordered (conceptually) because they do not store elements based on a fixed positional index like lists do. Instead, they store data based on key-value pairs, and the internal storage is optimized for fast lookup using hashing—not for maintaining order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

-->
Lists — Index-based Retrieval

Dictionaries — Key-based Retrieval

## Practical Questions

1. Write a code to create a string with your name and print it

In [1]:
name = "Shruthana Gowda"
print(name)

Shruthana Gowda

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [11]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "mango")

print("kiwi" in fruits)
print("kiwi" not in fruits)

False
True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [16]:
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [17]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = set1|set2
print(result)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

result = set1&set2
print(result)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "Shruthana","age": 21,"city": "Bangalore"}
print(person)

{'name': 'Shruthana', 'age': 21, 'city': 'Bangalore'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the results (replaced)

In [28]:
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()

print(numbers)

[39, 49, 66, 85, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "dragonfruit", "elderberry"]
print(words[3])

dragonfruit

29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set.

In [31]:
words = ["apple", "banana", "cherry", "apple"]
result = set(words)
print(result)

{'cherry', 'apple', 'banana'}